/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
.header {
  width: 100%;
  background-color: #858585;
  height: 45px;
}
@media (max-width: 500px) {
  .header {
    width: 100%;
  }
}
.SJ-container {
  display: relative;
}
.hamburger-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  padding: 0 8%;
}
.hamburger-container h1 {
  color: #FFFFFF;
  font-size: 1.6rem;
  width: 100%;
}
.hamburger {
  display: block;
}
.hamburger-close {
  display: none;
}
.menu-content {
  display: block;
  position: fixed;
  top: 45px;
  width: 73.5%;
  height: 100vh;
  /* This give the height 100% of the screen or, '100% of View Height' */
  background-color: #858585;
  z-index: 3;
  /* This set the layer level of the element, it has precendence over initial level of 1*/
  opacity: 0.9;
}
@media (max-width: 500px) {
  .menu-content {
    width: 100%;
  }
}
.menu-content .links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  padding-left: 7%;
}
@media (max-width: 500px) {
  .menu-content .links {
    padding-left: 0%;
  }
}
.menu-content .links a {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 2.5rem;
  font-weight: bold;
  height: 75px;
  display: flex;
  width: 25%;
}
.menu-content a:hover {
  color: #222222;
}
.menu-open {
  display: none;
}
.image-container {
  margin-bottom: -125px;
}
@media (max-width: 500px) {
  .image-container {
    width: 100%;
  }
}
.image-container .motto-container {
  z-index: 2;
  position: relative;
  top: -240px;
  width: 50%;
  margin-left: 8%;
  line-height: 65px;
}
.image-container .motto {
  color: #FFFFFF;
  font-size: 3.5rem;
  font-weight: bold;
}
.jumbo-pic {
  width: 100%;
}
.home-content {
  width: 90%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 5%;
}
.SJ-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 500px) {
  .SJ-container {
    flex-direction: column-reverse;
  }
}
.SJ-container .SJ-content {
  width: 50%;
  line-height: 25px;
}
@media (max-width: 500px) {
  .SJ-container .SJ-content {
    width: 70%;
  }
}
.SJ-container h1 {
  font-weight: bold;
  font-size: 1.6rem;
}
@media (max-width: 500px) {
  .SJ-container h1 {
    padding-top: 30px;
  }
}
.SJ-container p {
  margin: 20px 0;
}
.SJ-container button {
  background-color: #FFFFFF;
  height: 45px;
  font-size: 0.8rem;
  font-size: 1rem;
  width: 32%;
  border: 1.2px solid;
}
@media (max-width: 500px) {
  .SJ-container button {
    width: 100%;
  }
}
.futuristic {
  margin-top: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 500px) {
  .futuristic {
    flex-direction: column;
  }
}
.futuristic img {
  width: 49%;
}
@media (max-width: 500px) {
  .futuristic img {
    width: 96%;
  }
}
.futuristic .futuristic-content {
  width: 50%;
  line-height: 25px;
  margin-left: 4%;
  display: flex;
  flex-direction: column;
}
@media (max-width: 500px) {
  .futuristic .futuristic-content {
    width: 70%;
  }
}
.futuristic h1 {
  font-weight: bold;
  font-size: 1.6rem;
}
@media (max-width: 500px) {
  .futuristic h1 {
    padding-top: 30px;
  }
}
.futuristic p {
  margin: 20px 0;
}
.futuristic button {
  background-color: #FFFFFF;
  height: 45px;
  font-size: 0.8rem;
  font-size: 1rem;
  width: 32%;
  border: 1.2px solid;
}
@media (max-width: 500px) {
  .futuristic button {
    width: 100%;
  }
}
.recent {
  display: flex;
  flex-direction: column;
  margin-top: 90px;
  width: 100%;
  justify-content: center;
}
.recent h1 {
  font-weight: bold;
  font-size: 1.6rem;
  margin-bottom: 45px;
}
.recent img {
  z-index: 1;
}
@media (max-width: 500px) {
  .recent img {
    height: 200px;
    width: 100%;
  }
}
.recent .villas-container {
  display: flex;
  justify-content: flex-end;
  position: relative;
  margin-left: 63%;
  top: -50px;
  width: 37%;
  height: 85px;
}
@media (max-width: 500px) {
  .recent .villas-container {
    margin-left: 3.5%;
    width: 93%;
    top: -15px;
  }
}
.recent .villas-container h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d5d8db;
  width: 100%;
  z-index: 2;
  font-size: 1.6rem;
  letter-spacing: 4px;
  border: 1px solid #FFFFFF;
}
.home-p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 25px;
  margin-left: 25%;
  width: 100%;
}
.home-p .p1 {
  margin-bottom: 25px;
  width: 45%;
}
@media (max-width: 500px) {
  .home-p .p1 {
    width: 60%;
  }
}
.home-p .p2 {
  margin-bottom: 75px;
  width: 45%;
}
@media (max-width: 500px) {
  .home-p .p2 {
    width: 60%;
    margin-bottom: 50px;
  }
}
.outskirts {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  width: 100%;
  justify-content: center;
}
.outskirts .outskirts-container {
  display: flex;
  justify-content: flex-start;
  position: relative;
  top: -50px;
  width: 37%;
  height: 85px;
}
@media (max-width: 500px) {
  .outskirts .outskirts-container {
    margin-left: 3.5%;
    width: 93%;
    top: -15px;
  }
}
.outskirts .outskirts-container h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d5d8db;
  width: 100%;
  z-index: 2;
  font-size: 1.6rem;
  letter-spacing: 4px;
  border: 1px solid #FFFFFF;
}
.middle-p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 25px;
  margin-left: 25%;
  width: 100%;
}
.middle-p .p1 {
  margin-bottom: 25px;
  width: 45%;
}
@media (max-width: 500px) {
  .middle-p .p1 {
    width: 60%;
  }
}
.middle-p .p2 {
  margin-bottom: 75px;
  width: 45%;
}
@media (max-width: 500px) {
  .middle-p .p2 {
    width: 60%;
    margin-bottom: 0px;
  }
}
.footer-container {
  background-color: #858585;
  height: 250px;
  margin-bottom: 30px;
  color: #FFFFFF;
  line-height: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-size: 1.1rem;
}
.footer-container .copyright {
  font-size: 0.7rem;
}
.footer-container h3 {
  font-weight: bold;
}
@media (max-width: 500px) {
  .footer-container {
    margin-top: 25px;
    width: 75%;
    margin-left: 15%;
    height: 100%;
  }
}
.content-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 5% 5%;
}
@media (max-width: 500px) {
  .content-container {
    flex-direction: column;
  }
}
.content-container .email-input input {
  color: #858585;
  width: 95%;
  border-radius: 3px;
  border: none;
  height: 35px;
}
.content-container .email-input p {
  font-size: 0.7rem;
}
.content-container .footer-content p {
  font-size: 0.8rem;
}
.services-image-container {
  margin-bottom: -125px;
}
@media (max-width: 500px) {
  .services-image-container {
    width: 100%;
  }
}
.services-image-container .motto-container {
  z-index: 2;
  position: relative;
  top: -82px;
  width: 50%;
  margin-left: 8%;
  line-height: 65px;
}
.services-image-container .motto {
  color: #FFFFFF;
  font-size: 3.5rem;
  font-weight: bold;
}
.services-content {
  margin-top: 100px;
  margin-left: 8%;
  margin-right: 8%;
}
.top-paragraph {
  line-height: 25px;
  width: 100%;
  font-size: 1rem;
}
.tab-section {
  margin-top: 40px;
}
.tab-section .tabs {
  margin-bottom: 40px;
}
.tabs-links {
  display: flex;
  justify-content: space-between;
}
.tabs-links button {
  border: solid 1px;
  background-color: #FFFFFF;
  font-size: 1rem;
  font-weight: bold;
  height: 45px;
  width: 20%;
}
.tabs-item {
  justify-content: space-between;
  display: none;
}
.tabs-item .tabs-item-description {
  line-height: 25px;
}
.tabs-item .tabs-item-title {
  font-weight: bold;
  font-size: 1.4rem;
  margin-bottom: 15px;
}
.tabs-item .tabs-item-img {
  width: 46.5%;
  height: auto;
  padding-bottom: 25px;
}
.tabs-item .tabs-p {
  padding-right: 10%;
  margin-bottom: 25px;
}
.tabs-item-selected {
  display: flex;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Roboto', sans-serif;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Your Code Goes Here */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}
body {
  max-width: 900px;
  margin: 0 auto;
}
