//Navigation

.header {
    width: 100%;
    background-color: rgb(157, 166, 177);
    display: flex;
    justify-content: space-between;  
    align-items: center;
    padding:0 12%;
    height: 45px;
}

.header h1 {
    color: #FFFFFF;
    font-size: 1.6rem;
}

.hamburger {
    display: block;
}

.hamburger-close {
    display: none;
}

.menu-content {
    display: block;
    position: fixed;
    top: 45px;
    width: 78.4%;
    height: 100vh; /* This give the height 100% of the screen or, '100% of View Height' */
    background-color: rgb(157, 166, 177);
    z-index: 2; /* This set the layer level of the element, it has precendence over initial level of 1*/
    opacity: .9;
    .links  {
        display: flex;
        justify-content: center;  
        align-items: center;
        flex-direction: column;
        height: 100vh;
        padding-left: 7%;
        a {
            color: #FFFFFF;
            text-decoration: none;
            font-size: 2.5rem;
            font-weight: bold;
            height: 75px;
            display: flex;
            width: 25%;
          }
    }
    a:hover {
        color: #222222;
    }
}

.menu-open {
    display: none;
}

.motto {
    color: #FFFFFF;
    font-size: 4rem;
}   

.jumbo-pic {
    width: 100%;
}

  //Home Page Content

.home-content {
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 5%;
}

.SJ-arch {
    display: flex;
    justify-content: center;
    
    .SJ-content {
        width: 50%;
        line-height: 25px;
    }

    h1 {
        font-weight: bold;
        font-size: 1.6rem;
    }
    
    p {
        margin: 20px 0;
    }
    
    button {
        background-color: #FFFFFF;
        height: 45px;
        font-size: .8rem;
        font-size: 1rem;
        width: 32%;
        border: 1.2px solid;
    }

}
.futuristic {
    margin-top: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .futuristic-content {
        width: 50%;
        line-height: 25px;
        margin-left: 4%;
        display: flex;
        flex-direction: column;
    }

    h1 {
        font-weight: bold;
        font-size: 1.6rem;
    }
    
    p {
        margin: 20px 0;
    }
    
    button {
        background-color: #FFFFFF;
        height: 45px;
        font-size: .8rem;
        font-size: 1rem;
        width: 32%;
        border: 1.2px solid;
    }

}

.recent {
    display: flex;
    flex-direction: column;
    margin-top: 90px;
    width: 100%;
    justify-content: center;

    h1 {
        font-weight: bold;
        font-size: 1.6rem;
        margin-bottom: 45px;
    }
    img {
        z-index: 1;
    }
      .villas {
            display: flex;
            justify-content: flex-end;
            position: relative;
            margin-left: 63%;
            top: -50px;
            width:37%;
            height: 85px;
        h2 {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgb(213, 216, 219);
            width: 100%;
            z-index: 2;
            font-size: 1.6rem;
            letter-spacing: 4px;
            border: 1px solid #FFFFFF;
            }
        }     
}

.home-p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 25px;
    margin-left: 25%;
    width: 100%;

    .p1 {
       margin-bottom: 25px;
       width: 45%;     
    }
    .p2 {
       margin-bottom: 75px;
       width: 45%;
    }
}

.outskirts {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    width: 100%;
    justify-content: center;

    .outskirts-tab {
      display: flex;
      justify-content: flex-start;
      position: relative;
      top: -50px;
      width:37%;
      height: 85px;
    h2 {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgb(213, 216, 219);
      width: 100%;
      z-index: 2;
      font-size: 1.6rem;
      letter-spacing: 4px;
      border: 1px solid #FFFFFF;
     }
  }     
}

.recent {
    display: flex;
    flex-direction: column;
    margin-top: 90px;
    width: 100%;
    justify-content: center;
    img {
        z-index: 1;
    }
      .villas {
            display: flex;
            justify-content: flex-end;
            position: relative;
            margin-left: 63%;
            top: -50px;
            width:37%;
            height: 85px;
        h2 {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgb(213, 216, 219);
            width: 100%;
            z-index: 2;
            font-size: 1.6rem;
            letter-spacing: 4px;
            border: 1px solid #FFFFFF;
            }
        }     
}

.footer-container {
    background-color: rgb(157, 166, 177);
    height: 250px;
    margin-bottom: 30px; 
    color: #FFFFFF;
    line-height: 30px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: space-between;
    width: 100%;
    font-size: 1.1rem;
    .copyright {
      font-size: .7rem;
    }
    h3{ 
        font-weight: bold;
    }
    
}
.content-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 5% 5%;

    .email-input{
        
        input {
            color: rgb(157, 166, 177);
            width: 95%;
            border-radius: 3px;
            border: none;
            height: 35px;
        }
        p {
            font-size: .7rem;
        }
    }
    .footer-content {
        
        p {
            font-size: .8rem;
        }
    }
}
  