.services-image-container {
    margin-bottom: -125px;
    @media @phone{
        width: 100%;
    }
    .motto-container {
        z-index: 2;
        position: relative;
        top: -82px;
        width: 50%;
        margin-left: 8%;
        line-height: 65px;
    } 
    .motto {
        color: #FFFFFF;
        font-size: 3.5rem;
        font-weight: bold;
    } 
}

.services-content {
    margin-top: 100px;
    margin-left: 8%;
    margin-right: 8%;
}

.top-paragraph {
    line-height: 25px;
    width: 100%;
    font-size: 1rem;
}

.tab-section {
    margin-top: 40px;
    .tabs{
        margin-bottom: 40px;
    }
}

.tabs-links{
    display: flex;
    justify-content: space-between;

    button{
        border: solid 1px;
        background-color: #FFFFFF;
        font-size: 1rem;
        font-weight: bold;
        height: 45px;
        width: 20%;
    }
}

.tabs-item {
    display: flex;
    justify-content: space-between; 
    
    .tabs-item-description {
        line-height: 25px;
    }
    .tabs-item-title {
        font-weight: bold;
        font-size: 1.4rem;
        margin-bottom: 15px;
    }
    .tabs-item-img {
        width: 46.5%;
        height: auto;
        padding-bottom: 25px;
    }
    .tabs-p {
        padding-right: 10%;
        margin-bottom: 25px;
    }
}